$primary: #01D1B2;
$text: #404755;
$black: #0d0e12;
$link: #4258FF;
$info: #66D1FF;
$success: #48C78E;
$warning: #FFB711;
$danger: #FF6685;
$white: #fff;
$gray: #F9F9F9;

$delay: 300ms;
$radius: 4px;

@mixin mobile {
    @media screen and (min-width: 320px) and (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 769px) and (max-width: 1215px) {
        @content;
    }
}

@mixin noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin dark {
    .theme-dark {
        @content;
    }
}

@mixin clamp-1 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-word;
    -webkit-line-clamp: 1;
}

@mixin clamp-2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-word;
    -webkit-line-clamp: 2;
}

@mixin clamp-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-word;
    -webkit-line-clamp: 3;
}

@mixin ladder {
    @content;
    * {
        @content;
    }
}


@mixin hover() {
    @media (hover: hover) {
        &:hover {
            &:not(&:disabled) {
                @content
            }
        }
    }
    @media (hover: none) {
        &:active {
            &:not(&:disabled) {
                @content
            }
        }
    }
}