$yellow: #FFC800;
$orange: #F7941D;
$aqua: #4BC0B1;
$info: #19aaff;
$blue: #69B4F6;
$deep_blue: #1C274C;
$green: #5FBB46;
$white: #fff;
$red: #ED1459;
$black: #161617;
$gray: #F6F7F8;

@mixin mobile {
    @media screen and (min-width: 280px) and (max-width: 700px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 701px) and (max-width: 1199px) {
        @content;
    }
}

@mixin dark {
    .theme-dark {
        @content;
    }
}

@mixin clamp-1 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-word;
    -webkit-line-clamp: 1;
}

@mixin clamp-2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-word;
    -webkit-line-clamp: 2;
}

@mixin clamp-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-word;
    -webkit-line-clamp: 3;
}

@mixin ladder {
    @content;
    * {
        @content;
    }
}


@mixin hover() {
    @media (hover: hover) {
        &:hover {
            &:not(&:disabled) {
                @content
            }
        }
    }
    @media (hover: none) {
        &:active {
            &:not(&:disabled) {
                @content
            }
        }
    }
}